mat-toolbar {
    justify-content: space-between;
}
mat-card {
    margin-bottom: 16px;
}

.content {
    justify-content: center;
    margin: 0px -16px -16px 15px !important ;

    &-main-card {
            display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    &-card-header {
            white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4841bf;
    }

    &-card-img {
        height: 261px;
    width: 261px;
    }
}

:host ::ng-deep {
     display: flex;
    flex-direction: column;
    flex: 1;
    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
            height: 32px;
    background: #7dff8e;
    margin: 5px !important;
    }
}

h1 {
    margin: 0;
    background: #e1e5eb;
}
footer {
    background: #e1e5eb;
    display: flex;
    justify-content: center;
    align-items: center;
      position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.sub-title {
    font-weight: bold;
}


.filter{
    &-card {
        display: flex; background: #e1e5eb;
        padding-bottom: 0; padding-top: 0;
        height: calc(100% - 40px); overflow: auto;
        margin-bottom: 0;
        max-width: 1440px;
        margin: auto auto;
    }

    &-content {
        padding: 0 50px;
    /* flex-direction: column; */
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    &-headers {
        font-weight: bold;
        color: darkslategrey;
        border-bottom: 2px solid darkslategrey;
}
}

.active-button {
    background:#1ea619;
}

@media screen and (max-width: 600px) {
 .filter-card {
     flex-direction: column;
 }
}
